body{
    background-color:#808080;
}
#agreementB{
    display:block;
    position:relative;
}
dl,p,h1{
    background-color:#000000;
    border-radius:9px;
    border-color:#008800;
    color:#ffffff;
    text-align:center;
}
button{
    background-color:#00ffff;
    border-color:#000000;
    border-radius:6px;
    width:90px;
    border-width:9px;
}
img{
    display:block; margin:auto;
    width:90px;
    border-radius:30px;
    align:center;
}
p{
    background-color:#000080;
}