
h1{
    color:#000000;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    margin-top: -45px;
}
.menu{
    width: 30px;
    margin-top: -5px;
}
.wtp{
    width: 60px;
}
.fb{
    width: 60px;
}
.yt{
    width: 55px;
}
.link-bar{
    margin-top: -10px ;
}